# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0


---
info:
  version: 1.0.0
  description: GNBSIM initial local configuration

configuration:
  runConfigProfilesAtStart: true
  singleInterface: false                        # Default value
  execInParallel: true                          # Run all profiles in parallel
  httpServer:                                   # API to manage profiles at runtime
    enable: false
    ipAddr: "172.26.0.2"
    port: 8080
  gnbs:                                         # Pool of gNBs
    gnb1:
      n2IpAddr:                                 # N2 IPaddr to connect to AMF
      n2Port: 9487                              # N2 Port to connect to AMF
      n3IpAddr: "172.26.0.2"            # N3 IPaddr to connect to UPF
      #n3IpAddr: "POD_IP"                       # Use when in singleInterface mode
      n3Port: 2152 #{ { container_port } }      # N3 Port to connect to UPF
      name: gnb1                                # Uniquely identify gNB within application
      globalRanId:
        plmnId:
          mcc: 208                              # Mobile Country Code
          mnc: 93                               # Mobile Network Code
        gNbId:
          bitLength: 24
          gNBValue: "001001"                    # gNB id (3 bytes/hex: range 000000~FFFFFF)
      supportedTaList:
        - tac: 000001                           # TAC (3 bytes/hex: range: 000000~FFFFFF)
          broadcastPlmnList:
            - plmnId:
                mcc: 208
                mnc: 93
              taiSliceSupportList:
                - sst: 1                        # Slice/Service Type (uinteger: range 0~255)
                  sd: 010203                    # Slice Differentiator (3 bytes/hex)
                - sst: 1
                  sd: 000001
                - sst: 2
      defaultAmf:
        hostName: amf                           # Host name of AMF
        ipAddr: "172.22.2.122"                  # AMF IP address
        port: 38412                             # AMF port


  profiles:
  - profileType: register       # UE Registration
    profileName: profile1
    enable: false
    gnbName: gnb1
    execInParallel: false
    startImsi: 208930100007487
    ueCount: 5
    defaultAs: "10.10.0.1"
    perUserTimeout: 100
    plmnId:
      mcc: 208
      mnc: 93
    opc: "981d464c7c52eb6e5036234984ad0bcf"
    key: "5122250214c33e723a5dd523fc145fc0"
    sequenceNumber: "16f3b3f70fc2"

  - profileType: pdusessest         # UE Initiated Session
    profileName: profile2
    enable: true
    gnbName: gnb1
    execInParallel: false
    startImsi: 208930100007487
    ueCount: 5
    defaultAs: "10.10.0.1"
    perUserTimeout: 100
    plmnId:
      mcc: 208
      mnc: 93
    dataPktCount: 5
    opc: "981d464c7c52eb6e5036234984ad0bcf"
    key: "5122250214c33e723a5dd523fc145fc0"
    sequenceNumber: "16f3b3f70fc2"
